$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
$logoImgHeight: 50px;

// // 我也忘了当时下面这是干嘛的 修改主题色加上的
$color-txt-dark: #4a4a4a;
$color-txt-light: #9b9b9b;

$color-main-dark: #ed6c00;
$color-main-light: #fa8919;

$color-spliter-line: #d4dbe2;
$color-spliter-bg: #f3f3f3;

$color-bg-dark: #f1f3f7;
$color-bg-light: #f8f8f8;

$color-success: #46c796;
$color-error: #f04545;

$color-icon: #cdc9c5;

$color-assist: #0f8ee9;
$color-table-blue: #8590a6;
